.bottom-panel input {
  padding: 12px 20px;
  border-color: hsl(216, 98%, 70%);
}
.bottom-panel button {
  width: 150px;
}

.bottom-panel .new-post-label {
  width: auto;
  flex-grow: 1;
  font-style: italic;
}
