.app-list-item {
  align-items: center;
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
}
.app-list-item button {
  margin: 8px;
  border: none;
  cursor: pointer;
  border: 2px solid #ccc;
}
.app-list-item button:focus {
  box-shadow: none;
}
.app-list-item-label {
  display: block;
  cursor: pointer;
  user-select: none;
  transition: 0.4s all;
}
.app-list-item .btn-star {
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s all;
}
.app-list-item .btn-star img {
  width: 20px;
  height: 20px;
}
.app-list-item .btn-trash img {
  width: 20px;
  height: 20px;
}
.app-list-item .btn-heart {
  border: none;
  cursor: default;
}
.app-list-item .btn-heart img {
  width: 20px;
  height: 20px;
  opacity: 0.2;
  transition: 0.4s all;
}
.app-list-item.like .btn-heart img {
  opacity: 1;
}
.app-list-item.important .app-list-item-label {
  color: tomato;
}
.app-list-item.important .btn-star {
  background-color: hsl(0, 0%, 20%);
}
